<footer>
  <% const date = new Date(); const currentYear = date.getFullYear(); %>
  <p class="secondary">Copyright &copy; Jacob Asker <%= currentYear %></p>
  <div class="icon-container">
    <a href="#"><i class="fa-solid fa-envelope secondary"></i></a>
    <a href="#"><i class="fa-brands fa-linkedin secondary"></i></a>
    <a href="#"><i class="fa-brands fa-github secondary"></i></a>
  </div>
</footer>
