<header>
  <div class="content">
    <h2><a class="title secondary" href="/">Blog App</a></h2>
    <nav>
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/about">About</a>
      <a class="nav-link" href="/create"><i class="fa-solid fa-plus"></i></a>
    </nav>
  </div>
</header>
